header {
    margin-bottom: 1em;
}

supply-demand-curve {
    margin-right: 10px;
}

main.sd-curve {
    display: inline-block;
}
main.sd-curve #title {
    margin-left: 30px;
    width: 270px;
    cursor: pointer;
}
main.sd-curve #title.static {
    cursor: unset;
}
main.sd-curve h3 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: small;
    color: #666;
}
main.sd-curve div.label {
}
main.sd-curve div.label textarea {
    margin-left: 35px;
    width: 265px;
}
main.sd-curve canvas {
    margin-right: 5px;
}
main.sd-curve canvas.debug{
    border: thin solid red;
    margin: 0;
    padding: 0;
}

main.sd-curve #values {
    float: right;
    border-spacing: 0;
    position: relative;
/*    top: -20px; */
}
main.sd-curve #values tr {
/*    height: 30px; */
    margin: 0;
    padding: 0;
}
main.sd-curve #values th {
    font-weight: normal;
}
main.sd-curve #values input[type="number"], main.sd-curve #values input[type="text"].number {
    width: 5ex;
}

main.sd-curve #values .reset td {
    padding-top: 5px;
    text-align: center;
}

.calculate {
    margin-top: 20px;
    font-size: 200%;
}
