header {
    margin-bottom: 1em;
}

main.sd-curve {
    display: inline-block;
}
main.sd-curve h3 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: small;
    color: #666;
}
main.sd-curve div.label {
    text-align: center;
}
main.sd-curve input.label {
    text-align: center;
}
main.sd-curve canvas.debug{
    border: thin solid red;
    margin: 0;
    padding: 0;
}

main.sd-curve #values {
    float: left;
    border-spacing: 0;
}
main.sd-curve #values tr {
    height: 30px;
    margin: 0;
    padding: 0;
}
main.sd-curve #values input[type="number"] {
    width: 5ex;
}

.calculate {
    font-size: 200%;
}
